SpeechRecognition
pyttsx3
PyAudio
pocketsphinx
requests
wikipedia
pywhatkit
pyautogui
keyboard
psutil
pyjokes
python-dotenv
openai
pygame
wikipedia
psutil
pyautogui
requests
pywhatkit
pyperclip
requests